<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">
    <ul
      class="page-sidebar-menu page-header-fixed page-sidebar-menu-closed"
      data-keep-expanded="false "
      data-auto-scroll="true "
      data-slide-speed="200 "
      style="padding-top: 20px"
    >
      <li class="sidebar-toggler-wrapper hide">
        <div class="sidebar-toggler">
          <span></span>
        </div>
      </li>

      <!---------------------- Producto ----------------------------->

      {% comment %}
      <li class="nav-item start">
        <a href="# " class="nav-link nav-toggle">
          <i class="fa fa-book"></i>
          <span class="title">Producto</span>
        </a>
      </li>
      {% endcomment %}
      <!----------------------------- Cliente -------------------------------------->

      {% comment %}
      <li class="nav-item start">
        <a href='{% url "Profesor" %}' class="nav-link nav-toggle">
          <i class="fa fa-users"></i>
          <span class="title">Cliente</span>
        </a>
      </li>
      {% endcomment %}

      <!------------------------------------ Producto ----------------------------->

      {% comment %}
      <li class="nav-item start">
        <a href='{% url "Estudiante" %}' class="nav-link nav-toggle">
          <i class="fa fa-graduation-cap"></i>
          <span class="title">Producto</span>
        </a>
      </li>
      {% endcomment %}
    </ul>
  </div>
</div>
